body {
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(#c61841f5, #c61841f5), url(./resources/logo.png);
    width: 100%;
    overflow-x: hidden;
}

#background {
    display: block;
    position: relative;
    color: white;
    align-items: center;
    border: 20px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 0px 200px 100px 100px;
}

.container {
    display: block;
    position: relative;
    text-align: center;
    margin: 30px;
}

.form-container {
    display: block;
    width: 95%;
    position: relative;
}

.container h1 {
    position: relative;
    align-self: center;
    font-size: 10em
}

h2 {
    font-size: 2em;
}

.form {
    color: white;
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 40px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.row {
    width: auto;
    align-self: center;
    padding-left: 70px;
}

.form h1 {
    font-size: 30px;
    text-align: left;
}

form {
    display: block;
    position: relative;
    text-align: left;
}

.form-group label {
    border-left: 2px solid white;
    padding-left: 10px;
}

input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: 2px solid grey;
    border-radius: 0 0 15px 0;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    color: white;
    width: 40%;
}

.close {
    position: absolute;
    display: block;
    top: -30px;
    right: 0px;
    font-size: 30px;
    font-weight: thin;
    color: rgba(255, 255, 255, 0.349);
    background-color: transparent;
    border: none;
    padding: 15px;
    padding-top: 0px;
}

#submit {
    font-size: 17px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 25px;
    border: none;
    display: block;
    margin-top: 5px;
}

#submit:hover {
    background-color: rgb(245, 209, 209);
}

#submit:active {
    color: black
}

.email {
    font-size: 20px;
}

label {
    font-size: 10px;
    text-align: left;
}

.custom-control-label {
    position: relative;
    display: inline;
    padding-left: 15px;
    margin-right: 50px;
}

.switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 30px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

.switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 17px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.switch:checked {
    box-shadow: inset 10px 0 0 0 #4e7cd1;
    border-color: #4e7cd1;
}

.switch:checked::after {
    left: 10px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.checkbox-style {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-control-label {
    width: 40%
}